In [1]:
import pandas as pd
from pathlib import Path

In [2]:
from textblob import TextBlob

In [3]:
df = pd.read_csv('wsj_headlines.csv')

In [4]:
df.head()

,Unnamed: 0,Date,Headline,Category
0,6935,1/7/98,China to Cut Tariffs on Some Imports,Business and Finance - Asia
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News
2,7118,3/26/98,The Euro Club,Review & Outlook
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19227 entries, 0 to 19226
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19227 non-null  int64
 1   Date        19227 non-null  object
 2   Headline    19227 non-null  object
 3   Category    19227 non-null  object
dtypes: int64(1), object(3)
memory usage: 601.0+ KB

In [6]:
df.head()

,Unnamed: 0,Date,Headline,Category
0,6935,1/7/98,China to Cut Tariffs on Some Imports,Business and Finance - Asia
1,15717,2/12/98,Ogden Argentina Seal Pact,Major Business News
2,7118,3/26/98,The Euro Club,Review & Outlook
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,Business and Finance - Europe
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,Business and Finance - Asia

In [7]:
coded_df = pd.get_dummies(df, columns=['Category'])

In [8]:
coded_df.head()

,Unnamed: 0,Date,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,...,Category_Tip of the Week,Category_Today's Markets,Category_Today's Ventures,Category_Tri-State Area,Category_US,Category_US Business News,Category_US Stocks,Category_World,Category_World News,Category_World-Wide
0,6935,1/7/98,China to Cut Tariffs on Some Imports,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15717,2/12/98,Ogden Argentina Seal Pact,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7118,3/26/98,The Euro Club,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18502,5/3/98,ECB Squabble Sours EU's Launch of Euro,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1477,5/4/98,Hongkong Telecom's Revenue Fell,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
coded_max=coded_df.groupby(by='Date').max()

In [10]:
coded_max.head()

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,Category_Tip of the Week,Category_Today's Markets,Category_Today's Ventures,Category_Tri-State Area,Category_US,Category_US Business News,Category_US Stocks,Category_World,Category_World News,Category_World-Wide
Date,,,,,,,,,,,,,,,,,,,,,
1/1/00,16187,Who We Are,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/1/01,16615,Toshiba Hopes to Restart Venture Talks,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1/1/02,14142,Stocks Close Lower,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/1/03,14885,Scientists Map Chromosome 14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1/1/04,11306,US Ruling a Setback for Argentina,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
coded_max=coded_max.reset_index()

In [12]:
import load_data as ld
import datetime as dt

In [13]:
start = dt.datetime(1998, 7, 1) #-example dates
end = dt.datetime(2021, 6, 30)

In [14]:
df_spy= ld.load_from_yahoo(['SPY'], start,end)

In [15]:
df_spy=df_spy.reset_index()

In [16]:
df_spy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5789 entries, 0 to 5788
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Date, )          5789 non-null   datetime64[ns]
 1   (SPY, high)       5789 non-null   float64
 2   (SPY, low)        5789 non-null   float64
 3   (SPY, open)       5789 non-null   float64
 4   (SPY, close)      5789 non-null   float64
 5   (SPY, volume)     5789 non-null   float64
 6   (SPY, adj close)  5789 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 316.7 KB

In [17]:
df_spy1 = df_spy['SPY'].loc[:]

In [18]:
df_spy1

            high         low        open       close      volume   adj close
0     114.187500  113.062500  113.906250  113.312500   4284800.0   73.601341
1     114.937500  113.625000  114.062500  114.625000   3489500.0   74.453850
2     114.875000  114.250000  114.718750  114.843750   3503900.0   74.595932
3     116.000000  114.562500  114.781250  116.000000   3144400.0   75.347008
4     116.125000  115.281250  115.984375  115.781250   4920700.0   75.204872
...          ...         ...         ...         ...         ...         ...
5784  425.549988  424.619995  424.890015  425.100006  45110300.0  419.140717
5785  427.089996  425.549988  425.899994  426.609985  58129500.0  420.629486
5786  427.649994  425.890015  427.170013  427.470001  53159600.0  421.477448
5787  428.559998  427.130005  427.880005  427.700012  35970500.0  421.704224
5788  428.779999  427.179993  427.209991  428.059998  64827900.0  422.059174

[5789 rows x 6 columns]

In [19]:
coded_max

,Date,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,...,Category_Tip of the Week,Category_Today's Markets,Category_Today's Ventures,Category_Tri-State Area,Category_US,Category_US Business News,Category_US Stocks,Category_World,Category_World News,Category_World-Wide
0,1/1/00,16187,Who We Are,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/1/01,16615,Toshiba Hopes to Restart Venture Talks,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1/1/02,14142,Stocks Close Lower,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/1/03,14885,Scientists Map Chromosome 14,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1/1/04,11306,US Ruling a Setback for Argentina,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7972,9/9/17,16571,Tracking Hurricane Irma’s Path,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7973,9/9/18,6196,Photos of the Day Sept 9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7974,9/9/19,14690,Trump Holds Rally Ahead of North Carolina Elec...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7975,9/9/20,15504,Safety Experts Probe Interruption of AstraZene...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7976,9/9/98,3840,Hong Kong Leads Asia Stock Decline,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [20]:
coded_max['Date'] = pd.to_datetime(coded_max['Date'])

In [21]:
coded_max = coded_max.set_index('Date')

In [22]:
coded_max

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,Category_Tip of the Week,Category_Today's Markets,Category_Today's Ventures,Category_Tri-State Area,Category_US,Category_US Business News,Category_US Stocks,Category_World,Category_World News,Category_World-Wide
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,16187,Who We Are,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2001-01-01,16615,Toshiba Hopes to Restart Venture Talks,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2002-01-01,14142,Stocks Close Lower,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-01-01,14885,Scientists Map Chromosome 14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2004-01-01,11306,US Ruling a Setback for Argentina,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-09,16571,Tracking Hurricane Irma’s Path,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2018-09-09,6196,Photos of the Day Sept 9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-09-09,14690,Trump Holds Rally Ahead of North Carolina Elec...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-09,15504,Safety Experts Probe Interruption of AstraZene...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998-09-09,3840,Hong Kong Leads Asia Stock Decline,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df_spy = df_spy.set_index('Date')

In [24]:
df_spy

                   SPY                                                  \
                  high         low        open       close      volume
Date
1998-06-30  114.187500  113.062500  113.906250  113.312500   4284800.0
1998-07-01  114.937500  113.625000  114.062500  114.625000   3489500.0
1998-07-02  114.875000  114.250000  114.718750  114.843750   3503900.0
1998-07-06  116.000000  114.562500  114.781250  116.000000   3144400.0
1998-07-07  116.125000  115.281250  115.984375  115.781250   4920700.0
...                ...         ...         ...         ...         ...
2021-06-24  425.549988  424.619995  424.890015  425.100006  45110300.0
2021-06-25  427.089996  425.549988  425.899994  426.609985  58129500.0
2021-06-28  427.649994  425.890015  427.170013  427.470001  53159600.0
2021-06-29  428.559998  427.130005  427.880005  427.700012  35970500.0
2021-06-30  428.779999  427.179993  427.209991  428.059998  64827900.0


             adj close
Date
1998-06-30   73.601341
1998-07-01   74.453850
1998-07-02   74.595932
1998-07-06   75.347008
1998-07-07   75.204872
...                ...
2021-06-24  419.140717
2021-06-25  420.629486
2021-06-28  421.477448
2021-06-29  421.704224
2021-06-30  422.059174

[5789 rows x 6 columns]

In [25]:
joined_df = coded_max.join(df_spy['SPY'])

In [26]:
joined_df.dropna()

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,Category_US Stocks,Category_World,Category_World News,Category_World-Wide,high,low,open,close,volume,adj close
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-10,7071,NextCard Sets Priceline Deal,0,0,0,0,0,0,0,0,...,0,0,0,0,146.906250,145.031250,146.250000,146.250000,5741700.0,96.676880
2001-01-10,2713,SunTrust's Profit Fell in 4th Quarter,0,0,0,0,0,0,0,0,...,0,0,0,0,132.125000,128.812500,129.000000,132.125000,8746100.0,88.258209
2002-01-10,15693,Sprint PCS Readies to Roll Out Service,0,0,0,0,0,0,0,0,...,0,0,0,0,116.349998,115.300003,115.690002,116.080002,12823400.0,78.531975
2005-01-10,14865,Tiffany's Same-Store Sales Sparkle,0,0,0,0,0,0,0,0,...,0,0,0,0,119.459999,118.339996,118.339996,119.000000,56563300.0,84.709114
2006-01-10,9589,Six Women Sue Dresdner for 14 Billion,0,1,0,0,0,0,0,0,...,0,0,0,0,128.979996,128.259995,128.389999,128.899994,44960800.0,93.374596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-09-09,16084,Vlad’s Got His Eye on You,0,0,0,0,0,0,0,0,...,0,0,0,0,199.470001,194.350006,199.320007,194.789993,149347700.0,171.326202
2016-09-09,12513,Too Many No-Shows Force City Council Panel to ...,0,0,0,0,0,0,0,0,...,0,0,0,0,217.029999,213.250000,216.970001,213.279999,221589100.0,191.656311
2019-09-09,14690,Trump Holds Rally Ahead of North Carolina Elec...,0,0,0,0,0,0,0,0,...,0,0,0,0,299.239990,297.160004,299.140015,298.200012,51260300.0,284.034607
2020-09-09,15504,Safety Experts Probe Interruption of AstraZene...,0,0,0,0,0,0,0,0,...,0,0,0,0,342.459991,336.609985,337.549988,339.790009,91462300.0,330.109772
1998-09-09,3840,Hong Kong Leads Asia Stock Decline,0,0,0,0,0,0,1,0,...,0,0,0,0,103.125000,100.437500,102.750000,100.500000,12109700.0,65.279037

In [27]:
joined_df.head()

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,Category_US Stocks,Category_World,Category_World News,Category_World-Wide,high,low,open,close,volume,adj close
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,16187,Who We Are,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-01,16615,Toshiba Hopes to Restart Venture Talks,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-01,14142,Stocks Close Lower,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-01,14885,Scientists Map Chromosome 14,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-01,11306,US Ruling a Setback for Argentina,0,0,0,0,0,0,0,0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
joined_df['1998-09-09']['close']

/Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

Date
1998-09-09    100.5
Name: close, dtype: float64

In [29]:
df_spy.index

DatetimeIndex(['1998-06-30', '1998-07-01', '1998-07-02', '1998-07-06',
               '1998-07-07', '1998-07-08', '1998-07-09', '1998-07-10',
               '1998-07-13', '1998-07-14',
               ...
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', name='Date', length=5789, freq=None)

In [30]:
df_spy['SPY']['close']['1998-07-01']

114.625

In [31]:
joined_df['close']['1998-07-01']

Date
1998-07-01    114.625
Name: close, dtype: float64

In [32]:
joined_df=joined_df.dropna().sort_index()

In [33]:
joined_df

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,Category_US Stocks,Category_World,Category_World News,Category_World-Wide,high,low,open,close,volume,adj close
Date,,,,,,,,,,,,,,,,,,,,,
1998-06-30,18326,Technology Briefs,0,0,0,0,0,0,0,0,...,0,0,0,0,114.187500,113.062500,113.906250,113.312500,4284800.0,73.601341
1998-07-01,1372,Fed Maintains Interest Rates Amid Signals of S...,0,0,0,0,0,0,0,0,...,0,0,0,0,114.937500,113.625000,114.062500,114.625000,3489500.0,74.453850
1998-07-06,14315,Do Big Write-Offs Inflate Earnings,0,0,0,0,0,0,0,0,...,1,0,0,0,116.000000,114.562500,114.781250,116.000000,3144400.0,75.347008
1998-07-07,9522,Oil Producer Predicts 250 Million Loss,0,0,0,0,0,0,0,0,...,0,0,0,0,116.125000,115.281250,115.984375,115.781250,4920700.0,75.204872
1998-07-08,16770,Qwest Warns of 900 Million Charge,0,0,0,0,0,0,0,0,...,0,0,0,0,116.937500,115.750000,115.875000,116.625000,6875000.0,75.752930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,12469,What’s in the Bipartisan Infrastructure Plan,0,0,0,0,0,0,0,0,...,0,0,0,0,425.549988,424.619995,424.890015,425.100006,45110300.0,419.140717
2021-06-25,17508,‘There Was Nothing There’ Florida Condo Surviv...,0,0,0,0,0,0,0,0,...,0,0,0,0,427.089996,425.549988,425.899994,426.609985,58129500.0,420.629486
2021-06-28,5910,Miami-Area Condo Board President Warned of Nee...,0,0,0,0,0,0,0,0,...,0,0,0,0,427.649994,425.890015,427.170013,427.470001,53159600.0,421.477448
2021-06-29,17549,New York Opioid Trial Opens With Emails Joking...,0,0,0,0,0,0,0,0,...,0,0,0,0,428.559998,427.130005,427.880005,427.700012,35970500.0,421.704224
2021-06-30,17803,US Taiwan Revive Trade Talks With Pledge to Co...,0,0,1,0,0,0,0,0,...,0,0,0,0,428.779999,427.179993,427.209991,428.059998,64827900.0,422.059174

In [34]:
f_df=joined_df[joined_df['close']>0]
f_df['returns'] = f_df['close'].pct_change().shift()

In [35]:
f_df=f_df.dropna()

In [36]:
f_df

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,Category_World,Category_World News,Category_World-Wide,high,low,open,close,volume,adj close,returns
Date,,,,,,,,,,,,,,,,,,,,,
1998-07-06,14315,Do Big Write-Offs Inflate Earnings,0,0,0,0,0,0,0,0,...,0,0,0,116.000000,114.562500,114.781250,116.000000,3144400.0,75.347008,0.011583
1998-07-07,9522,Oil Producer Predicts 250 Million Loss,0,0,0,0,0,0,0,0,...,0,0,0,116.125000,115.281250,115.984375,115.781250,4920700.0,75.204872,0.011996
1998-07-08,16770,Qwest Warns of 900 Million Charge,0,0,0,0,0,0,0,0,...,0,0,0,116.937500,115.750000,115.875000,116.625000,6875000.0,75.752930,-0.001886
1998-07-09,11461,Reckson Crescent to Buy Tower,0,0,0,0,0,0,0,0,...,0,0,0,116.718750,115.625000,116.281250,115.843750,6942500.0,75.245461,0.007287
1998-07-10,16530,Technology Briefs,0,0,0,0,0,0,0,0,...,0,0,0,116.937500,115.062500,116.031250,116.468750,7849700.0,75.651405,-0.006699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,12469,What’s in the Bipartisan Infrastructure Plan,0,0,0,0,0,0,0,0,...,0,0,0,425.549988,424.619995,424.890015,425.100006,45110300.0,419.140717,-0.001205
2021-06-25,17508,‘There Was Nothing There’ Florida Condo Surviv...,0,0,0,0,0,0,0,0,...,0,0,0,427.089996,425.549988,425.899994,426.609985,58129500.0,420.629486,0.005916
2021-06-28,5910,Miami-Area Condo Board President Warned of Nee...,0,0,0,0,0,0,0,0,...,0,0,0,427.649994,425.890015,427.170013,427.470001,53159600.0,421.477448,0.003552
2021-06-29,17549,New York Opioid Trial Opens With Emails Joking...,0,0,0,0,0,0,0,0,...,0,0,0,428.559998,427.130005,427.880005,427.700012,35970500.0,421.704224,0.002016
2021-06-30,17803,US Taiwan Revive Trade Talks With Pledge to Co...,0,0,1,0,0,0,0,0,...,0,0,0,428.779999,427.179993,427.209991,428.059998,64827900.0,422.059174,0.000538

In [37]:
#if the sentiment is positive and the returns are +ve, then the signal is a buy
# if the sentiment is -ve, pct_change is +ve, signal HOLD or BUY ?
# if sentiment is -ve, pct_change is -ve signal is SELL
# if setiment is +ve and pct_change is -ve signal is HOLD
# On the train dataset, put these signals. test 
# given a new news, feed it in tot the app, get a sentiment value, predict a buy or sell, suggest accordingly.

#Make a bot, lambda function will be this one. ML Model shd be picked from AWS Sagemaker
# it can be any TICKER, CRYPTO or Otherwise. We can tinker with it or keep it user optioned.

In [38]:
polarity=[]
subj=[]
signal=[]
#for i in f_df['Headline']:
for i in f_df.index:
    pol, sub = TextBlob(f_df['Headline'][i]).sentiment
    polarity.append(pol)
    subj.append(sub)
    if (pol > .5) and f_df['returns'][i] >0:
        signal.append(1)
    elif (pol>0.0 and pol <= .5) and f_df['returns'][i] < 0:
        signal.append(-1)
    else:
        signal.append(0)

In [39]:
print(len(polarity))
len(f_df)

5487

5487

In [40]:
f_df ['polarity'] = polarity
f_df ['subjectivity']= subj
f_df ['signal'] = signal

In [41]:
f_df[f_df['signal']==1]

,Unnamed: 0,Headline,Category_Americas,Category_Americas Markets,Category_Asia,Category_Asia Business,Category_Asia Markets,Category_Asian Business News,Category_Asian Stocks,Category_Ask Dow Jones,...,high,low,open,close,volume,adj close,returns,polarity,subjectivity,signal
Date,,,,,,,,,,,,,,,,,,,,,
1998-12-02,8516,Tech-Stock Rally Leads Shares Up Bonds Rose Again,0,0,0,0,0,0,0,0,...,117.906250,116.000000,117.218750,117.281250,7495500.0,76.448273,0.012917,0.60,0.950,1
1999-02-04,17894,Your House Is More Than a Home It's One of You...,0,0,0,0,0,0,0,0,...,127.500000,124.781250,127.375000,125.500000,7761100.0,82.077332,0.010159,0.75,0.400,1
1999-08-25,17452,Goldfields' Profit Rose to 176 Million,0,0,0,0,0,0,0,0,...,138.781250,136.156250,137.187500,138.375000,6005300.0,90.990974,0.003664,0.60,0.950,1
2000-02-17,9157,WPP Pretax Profit Rose 20,0,0,0,0,0,0,0,0,...,140.437500,138.218750,140.437500,138.281250,7584200.0,91.409225,0.011313,0.60,0.950,1
2001-04-27,12550,Surprising Data On US Growth Bolster Stocks,0,0,0,0,0,0,0,0,...,125.839996,124.199997,124.919998,125.779999,7938700.0,84.246056,0.004465,0.70,0.500,1
2006-02-16,15498,Manufacturers See Bright Outlook,0,0,0,0,0,0,0,0,...,129.210007,128.179993,128.339996,129.160004,61017900.0,93.562988,0.003522,0.70,0.800,1
2007-04-13,5230,Merck's Good News Boosts Dow,0,0,0,0,0,0,0,0,...,145.320007,144.360001,144.899994,145.320007,84287000.0,107.641121,0.004444,0.70,0.600,1
2008-04-21,12605,Defining a Win,0,0,0,0,0,0,0,0,...,138.979996,137.850006,138.229996,138.550003,118587400.0,104.622787,0.010434,0.80,0.400,1
2008-11-10,18983,Obama's Win Recasts Conversation on Race,0,0,0,0,0,0,0,0,...,95.529999,90.919998,95.209999,92.629997,301773000.0,70.704109,0.033018,0.80,0.400,1
2009-02-12,8533,Rail Advocates Win in Stimulus Bill,0,0,0,0,0,0,0,0,...,83.820000,81.050003,82.169998,83.660004,469302200.0,64.375755,0.005896,0.80,0.400,1
2009-07-02,18398,Wind Gets to PIK Its Own Brand of Poison,0,0,0,0,0,0,0,0,...,92.360001,89.760002,91.129997,89.809998,212309900.0,69.995911,0.004133,0.60,1.000,1
2009-11-04,9653,The Great Disruption,0,0,0,0,0,0,0,0,...,106.330002,104.650002,105.510002,104.919998,247996700.0,82.161835,0.003163,0.80,0.750,1
2010-03-17,14184,Europe's Best Goal Makers,0,0,0,0,0,0,0,0,...,117.480003,116.419998,116.760002,117.099998,177468100.0,92.193558,0.007966,1.00,0.300,1
2012-03-26,11583,Pinterest Says to Pin Your Own Stuff,0,0,0,0,0,0,0,0,...,141.610001,140.600006,140.649994,141.610001,120164000.0,116.572670,0.003233,0.60,1.000,1
2012-09-10,17345,WSJ Launches Europe's Best Analysts Survey,0,0,0,0,0,0,0,0,...,144.440002,143.460007,144.190002,143.509995,86458500.0,118.748840,0.003895,1.00,0.300,1
2013-02-06,15980,US Coal Finds Warm Embrace Overseas,0,0,0,0,0,0,0,0,...,151.259995,150.410004,150.520004,151.160004,138762800.0,126.638451,0.010098,0.60,0.600,1
2013-02-28,11935,Best Buy Founder End Deal Talks,0,0,0,0,0,0,0,0,...,152.869995,151.410004,151.899994,151.610001,126866000.0,127.015472,0.012598,1.00,0.300,1
2016-09-29,10462,Is David Ortiz the Greatest Yankee Killer of T...,0,0,1,0,0,0,0,0,...,216.869995,214.039993,216.399994,214.679993,128070600.0,193.888855,0.004964,1.00,1.000,1
2016-12-16,14972,US Park Service Proposes Settling Wolves on La...,0,0,0,0,0,0,0,0,...,226.080002,224.669998,226.009995,225.039993,156420200.0,204.443436,0.004117,0.70,0.900,1
2017-11-24,16351,In Mueller Cases Picking a Fair Jury Poses a C...,0,0,0,0,0,0,0,0,...,260.480011,260.160004,260.320007,260.359985,27856500.0,239.903076,0.005652,0.70,0.900,1
2018-01-12,16645,Review The Great and the Good,0,0,0,0,0,0,0,0,...,278.109985,276.079987,276.420013,277.920013,90816100.0,257.392365,0.009875,0.75,0.675,1
2019-06-14,11858,‘On Earth We’re Briefly Gorgeous’ Review His L...,0,0,0,0,0,0,0,0,...,289.929993,288.410004,289.260010,289.260010,52324700.0,274.185760,0.004126,0.70,0.900,1
2020-08-21,3967,‘The Habsburgs To Rule the World’ Review An Id...,0,0,0,0,0,0,0,0,...,339.720001,337.549988,337.920013,339.480011,55106600.0,329.808563,0.003114,0.90,1.000,1
2020-09-28,9733,Science’s Goal Is Good Science Not Diversity,0,0,0,0,0,0,0,0,...,334.959991,332.149994,333.220001,334.190002,64584600.0,325.968964,0.016167,0.70,0.600,1
2020-10-06,5270,The Seattle Storm Win WNBA Title,0,0,0,0,0,0,0,0,...,342.170013,334.380005,339.910004,334.929993,90128900.0,326.690735,0.017733,0.80,0.400,1
2020-12-29,12568,Trump Campaign Asks Supreme Court to Overturn ...,0,0,0,0,0,0,0,0,...,374.000000,370.829987,373.809998,371.459991,53680500.0,363.866547,0.008591,0.80,0.400,1

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [43]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr

LogisticRegression()

In [89]:
y = f_df['signal']
X = f_df[['polarity', 'subjectivity']]
#X = f_df[['volume','returns','polarity', 'subjectivity']]

In [90]:
# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape

(4115, 2)

In [91]:
# Scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [92]:
lr.fit(X_train_scaled, y_train)

LogisticRegression()

In [93]:
# Make predictions using the test data
y_pred = lr.predict(X_test_scaled)

results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)

results.head()

   Prediction  Actual
0          -1       0
1           0       0
2           0       0
3           0       0
4           0       0

In [94]:
# Import Modules
from sklearn.metrics import confusion_matrix,classification_report

In [95]:
# Print confusion matrix
print(confusion_matrix(y_test, y_pred))

[[  19   66    0]
 [  25 1254    4]
 [   2    0    2]]

In [96]:
# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          -1       0.41      0.22      0.29        85
           0       0.95      0.98      0.96      1283
           1       0.33      0.50      0.40         4

    accuracy                           0.93      1372
   macro avg       0.57      0.57      0.55      1372
weighted avg       0.91      0.93      0.92      1372

In [97]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
svm = SVC(kernel='linear')
svm

SVC(kernel='linear')

In [98]:
# Fit the data
svm.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [99]:
# Make predictions using the test data
y_pred = svm.predict(X_test_scaled)

results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)

results.head()

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0

In [100]:
# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          -1       0.00      0.00      0.00        85
           0       0.94      1.00      0.97      1283
           1       0.29      0.50      0.36         4

    accuracy                           0.93      1372
   macro avg       0.41      0.50      0.44      1372
weighted avg       0.88      0.93      0.90      1372

/Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ashokpandey/opt/anaconda3/envs/dev/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [101]:
# Import ClusterCentroids from imblearn
from imblearn.under_sampling import ClusterCentroids

# Instantiate a ClusterCentroids instance
cc_sampler = ClusterCentroids(random_state=1)

In [102]:
# Fit the training data to the cluster centroids model
X_resampled, y_resampled = cc_sampler.fit_resample(X_train_scaled, y_train)

In [103]:
# Count distinct values for the resampled target data
y_resampled.value_counts()

-1    22
 0    22
 1    22
Name: signal, dtype: int64

In [104]:
lr.fit(X_resampled, y_resampled)

LogisticRegression()

In [105]:
pred=lr.predict(X_test_scaled)

In [106]:
# Print classification report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          -1       0.42      0.56      0.48        85
           0       0.97      0.94      0.96      1283
           1       0.33      1.00      0.50         4

    accuracy                           0.92      1372
   macro avg       0.57      0.84      0.65      1372
weighted avg       0.93      0.92      0.93      1372

In [112]:
X_test=[[.5, -1]]

In [115]:
predict=lr.predict(X_test)
predict

array([0])

In [114]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          -1       0.42      0.56      0.48        85
           0       0.97      0.94      0.96      1283
           1       0.33      1.00      0.50         4

    accuracy                           0.92      1372
   macro avg       0.57      0.84      0.65      1372
weighted avg       0.93      0.92      0.93      1372

In [69]:
# Import SMOTE from imblearn
from imblearn.over_sampling import SMOTE

# Instantiate the SMOTE instance 
# Set the sampling_strategy parameter equal to auto
smote_sampler = SMOTE(random_state=1, sampling_strategy='auto')

In [70]:
# Fit the training data to the smote_sampler model
X_resampled, y_resampled = smote_sampler.fit_resample(X_train_scaled, y_train)

In [82]:
len(X_resampled)

11493

In [71]:
lr.fit(X_resampled, y_resampled)

LogisticRegression()

In [72]:
pred = lr.predict(X_test_scaled)

In [74]:
# Print classification report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          -1       0.09      0.30      0.14        87
           0       0.94      0.22      0.35      1279
           1       0.00      0.50      0.01         6

    accuracy                           0.22      1372
   macro avg       0.34      0.34      0.16      1372
weighted avg       0.88      0.22      0.33      1372

In [83]:
news='Credit Suisse Found Guilty in Money-Laundering Case Tied to Cocaine Ring'

In [85]:
pol, sub = TextBlob(news).sentiment

In [86]:
pol, sub

(-0.5, 1.0)

In [87]:
X_test = [-.5, 1]

In [116]:
lr.predict(X_test)

array([0])

In [135]:
import requests    
 
def getCurrentHeadlines():
     
    # news api
    # following query parameters are used
    # source, sortBy and apiKey
    query_params = {
      #"source": "bbc-news",
      "country":'us',
      "sortBy": "top",
      "apiKey": "408bc0e41ad1474581aadc918b65e44e"
    }
    main_url = " https://newsapi.org/v2/top-headlines"
 
    # fetching data in json format
    res = requests.get(main_url, params=query_params)
    open_news_page = res.json()
 
    # getting all articles in a string article . actually a DICT
    article = open_news_page["articles"]
        
    # empty list which will
    # contain all trending news
    results = []
    pola=[]
    subj=[]
     
    for ar in article:
        results.append(ar["title"])
        pol, sub = TextBlob(ar['title']).sentiment
        pola.append(pol)
        subj.append(sub)
    
    pol_subj_df = pd.DataFrame({})
    pol_subj_df['pola']= pola
    pol_subj_df['subj']= subj
    
    
    for i in range(len(results)):
         
        # printing all trending news
        print(i + 1, results[i])
        
    return pol_subj_df, results

In [136]:
xx, headlines=getCurrentHeadlines()

1 South Africa investigates mysterious nightclub deaths at Enyobeni Tavern - The Washington Post
2 Brittney Griner appears at preliminary hearing amid 'wrongful' detention in Russia - ABC News
3 Supreme Court Sides With Coach Over Prayers on 50-Yard Line - The New York Times
4 G-7 nations move closer to price cap for Russian oil, US official says - USA TODAY
5 Democrats are urging Joe Biden to take a host of executive actions to protect abortion access after the Supreme Court overturned Roe v. Wade. - POLITICO
6 West pushes Russia into its first foreign debt default since 1918 - CNN
7 Rudy Giuliani slapped on back 'over politics' following Roe decision - The Washington Post
8 Trump’s Social Network Deal Under Grand Jury Scrutiny - The New York Times
9 ‘A matter of life and death’: maternal mortality rate will rise without Roe, experts warn - The Guardian US
10 Spirit, Digital World, Coinbase Fall Premarket; AutoZone, Chewy Rise By Investing.com - Investing.com
11 BET Awards 2022: Most daring looks celebrities wore on the red carpet - Insider
12 Masked Kanye West makes surprise appearance at BET Awards 2022 to honor Diddy - Page Six
13 U.S. stocks drift lower after strong durables data - MarketWatch
14 In Florida, California and Beyond: Both Sides Mobilize Over Abortion - The New York Times
15 Mass brawl and eight ejections overshadow Los Angeles Angels win over the Seattle Mariners - CNN
16 NASA’s CAPSTONE Launch to Moon Delayed – Spacecraft Will Be First To Fly Unique Lunar Orbit - SciTechDaily
17 Apple's entry-level MacBook Pro M2 has slower SSD speeds than its M1 counterpart - The Verge
18 Russia strikes Kyiv as Western leaders meet in Europe - The Associated Press
19 Hello Urquidy - Pitcher List
20 Avalanche vs. Lightning score Stanley Cup Final Game 6: Colorado wins 2-1 for team's third championship - CBS Sports

In [137]:
xx.mean(), headlines[1]

(pola    0.124590
 subj    0.261155
 dtype: float64,
 "Brittney Griner appears at preliminary hearing amid 'wrongful' detention in Russia - ABC News")

In [150]:
X_test = [xx.mean()]

In [196]:
X_test[0][0]=.8
X_test

[pola    0.8
 subj    0.7
 dtype: float64]

In [197]:
pred=lr.predict(X_test)

In [198]:
pred

array([-1])

In [248]:
#get current price of the stock/spy etc. get pct_change from yesterday. Feed that change in the model for prediction
# YOU MUST CHANGE THE MODEL TRAINING DATA TO INCLUDE pct_change column

In [223]:
import xactcryptos as tr
from datetime import date

In [236]:
#end = date.today()
end = dt.date(2022,6,24)
#start = dt.date(end.year, end.month, end.day-1)
start=end

In [246]:
pct_change_in_price=tr.get_data('BTC-USD', start, end)

In [247]:
pct_change_in_price

                High       Low      Open     Close   Volume  Adj Close
Date
2022-06-23       NaN       NaN       NaN       NaN      NaN        NaN
2022-06-24  0.015952  0.041473  0.054939  0.006914 -0.04698   0.006914