In [1]:
import pandas as pd
import requests
from pathlib import Path
import json
import datetime

import load_data as ld
import os

import twitter_lib as tl
import wsj_lib as wsj

In [2]:
coin = 'bitcoin'
num_of_periods = 1000 # 1000 days

start="2018-04-01T00:00:00Z"
end ="2022-04-30T00:00:00Z"
#default bin size of 24H, but we will provide ...just..
bin_size='24H'

In [3]:
bear_sentiment, bull_sentiment = tl.get_crypto_sentiment_from_twitter(coin, num_of_periods, start, end, bin_size)

/Users/ashokpandey/Desktop/Fintech-Workspace/Project 2/r&d/twitter_lib.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bearish['Bear_sum'] = bearish.sum(axis=1)
/Users/ashokpandey/Desktop/Fintech-Workspace/Project 2/r&d/twitter_lib.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bullish['Bull_sum']=bullish.sum(axis=1)

In [4]:
bear_sentiment

,Bearish,Pessimistic/Doubtful,Sad,Fearful/Concerned,Angry,Mistrustful,Panicking,Annoyed/Frustrated,Bear_sum
Date,,,,,,,,,
2018-04-01,164.0,24.0,8.0,35.0,22.0,2.0,6.0,1.0,262.0
2018-04-02,162.0,12.0,2.0,21.0,10.0,1.0,3.0,1.0,212.0
2018-04-03,171.0,29.0,8.0,30.0,15.0,2.0,1.0,2.0,258.0
2018-04-04,175.0,25.0,4.0,33.0,22.0,1.0,1.0,1.0,262.0
2018-04-05,179.0,29.0,7.0,25.0,20.0,4.0,4.0,1.0,269.0
...,...,...,...,...,...,...,...,...,...
2020-12-21,75.0,16.0,2.0,17.0,14.0,4.0,1.0,3.0,132.0
2020-12-22,57.0,13.0,1.0,17.0,20.0,2.0,2.0,2.0,114.0
2020-12-23,64.0,10.0,3.0,22.0,8.0,2.0,3.0,1.0,113.0
2020-12-24,38.0,11.0,4.0,15.0,18.0,2.0,2.0,2.0,92.0
2020-12-25,25.0,12.0,0.0,5.0,8.0,4.0,0.0,0.0,54.0

In [5]:
bull_sentiment

            Hopeful  Bullish  Optimistic  Happy  Euphoric/Excited  Bull_sum
Date
2018-04-01     39.0    188.0        87.0   40.0             100.0     454.0
2018-04-02     33.0    263.0       135.0   15.0              97.0     543.0
2018-04-03     45.0    306.0       121.0   26.0             111.0     609.0
2018-04-04     37.0    265.0       117.0   23.0              97.0     539.0
2018-04-05     44.0    252.0       117.0   22.0              98.0     533.0
...             ...      ...         ...    ...               ...       ...
2020-12-21     24.0    147.0        80.0   12.0              75.0     338.0
2020-12-22     22.0    158.0        89.0   25.0              68.0     362.0
2020-12-23     35.0    134.0        72.0   24.0              78.0     343.0
2020-12-24     23.0     99.0        76.0   31.0              54.0     283.0
2020-12-25     19.0    108.0        54.0   31.0              58.0     270.0

[1000 rows x 6 columns]

In [6]:
wsj_sentiment=wsj.get_sentiments_from_wsj()

In [7]:
wsj_sentiment.index

Index(['1/1/00', '1/1/01', '1/1/02', '1/1/03', '1/1/04', '1/1/06', '1/1/07',
       '1/1/08', '1/1/09', '1/1/10',
       ...
       '9/9/11', '9/9/12', '9/9/13', '9/9/15', '9/9/16', '9/9/17', '9/9/18',
       '9/9/19', '9/9/20', '9/9/98'],
      dtype='object', name='Date', length=7977)

In [8]:
sentiment_df = pd.merge(bear_sentiment['Bear_sum'], bull_sentiment['Bull_sum'], how='inner', left_on='Date', right_on='Date')

In [9]:
sentiment_df=sentiment_df.reset_index()

In [10]:
sentiment_df['Date']=pd.to_datetime(sentiment_df['Date'])

In [11]:
#df_cd = pd.merge(df_SN7577i_c, df_SN7577i_d, how='inner', left_on = 'Id', right_on = 'Id')
#sentiment_df = pd.merge(sentiment_df[['Bear_sum','Bull_sum']], wsj_sentiment['sentiment'], how='inner', left_on='Date', right_on='Date')

In [12]:
sentiment_df.set_index('Date')

            Bear_sum  Bull_sum
Date
2018-04-01     262.0     454.0
2018-04-02     212.0     543.0
2018-04-03     258.0     609.0
2018-04-04     262.0     539.0
2018-04-05     269.0     533.0
...              ...       ...
2020-12-21     132.0     338.0
2020-12-22     114.0     362.0
2020-12-23     113.0     343.0
2020-12-24      92.0     283.0
2020-12-25      54.0     270.0

[1000 rows x 2 columns]

In [13]:
wsj_sentiment=wsj_sentiment.reset_index()

In [14]:
wsj_sentiment['Date']=pd.to_datetime(wsj_sentiment['Date'])

In [15]:
wsj_sentiment=wsj_sentiment.set_index('Date')

In [16]:
wsj_sentiment=wsj_sentiment.groupby(by='Date').mean()

In [17]:
wsj_sentiment

              scores
Date
1998-01-07 -0.273200
1998-02-12  0.000000
1998-03-26  0.000000
1998-05-03  0.000000
1998-05-04  0.000000
...              ...
2021-06-26  0.152933
2021-06-27  0.000000
2021-06-28 -0.273200
2021-06-29  0.058233
2021-06-30 -0.159175

[7977 rows x 1 columns]

In [18]:
sentiment_df = pd.merge(sentiment_df, wsj_sentiment, how='inner', left_on='Date', right_on='Date')

In [28]:
sentiment_df = sentiment_df.set_index('Date')

In [21]:
df_coin= ld.load_from_yahoo(['BTC-USD'], start,end)

In [25]:
df_coin.index

DatetimeIndex(['2018-03-31', '2018-04-01', '2018-04-02', '2018-04-03',
               '2018-04-04', '2018-04-05', '2018-04-06', '2018-04-07',
               '2018-04-08', '2018-04-09',
               ...
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', name='Date', length=1492, freq=None)

In [31]:
joined_df = sentiment_df.join(df_coin['BTC-USD']['close'])

In [35]:
joined_df['daily_ret']=joined_df['close'].pct_change().shift()

In [36]:
joined_df

            Bear_sum  Bull_sum    scores         close  daily_ret
Date
2018-04-01     262.0     454.0  0.170000   6844.229980        NaN
2018-04-02     212.0     543.0 -0.045900   7083.799805        NaN
2018-04-03     258.0     609.0 -0.458800   7456.109863   0.035003
2018-04-04     262.0     539.0  0.000000   6853.839844   0.052558
2018-04-05     269.0     533.0 -0.309633   6811.470215  -0.080775
...              ...       ...       ...           ...        ...
2020-12-20     102.0     394.0  0.231567  23477.294922   0.031631
2020-12-21     132.0     338.0 -0.063800  22803.082031  -0.016445
2020-12-22     114.0     362.0  0.000000  23783.029297  -0.028718
2020-12-23     113.0     343.0  0.401900  23241.345703   0.042974
2020-12-24      92.0     283.0  0.238350  23735.949219  -0.022776

[963 rows x 5 columns]

In [43]:
#polarity=[]
#subj=[]
signal=[]
#for i in f_df['Headline']:
for i in joined_df.index:
    #Bear_sum	Bull_sum	scores	
    if (joined_df['Bull_sum'][i] > 700) and (joined_df['daily_ret'][i] >0) :
        signal.append(1)
    elif (joined_df['Bear_sum'][i] >0.0 and joined_df['Bear_sum'][i] <= 400) and joined_df['daily_ret'][i] < 0:
        signal.append(-1)
    else:
        signal.append(0)

In [45]:
joined_df['signal'] = signal

In [46]:
joined_df

            Bear_sum  Bull_sum    scores         close  daily_ret  signal
Date
2018-04-01     262.0     454.0  0.170000   6844.229980        NaN       0
2018-04-02     212.0     543.0 -0.045900   7083.799805        NaN       0
2018-04-03     258.0     609.0 -0.458800   7456.109863   0.035003       0
2018-04-04     262.0     539.0  0.000000   6853.839844   0.052558       0
2018-04-05     269.0     533.0 -0.309633   6811.470215  -0.080775      -1
...              ...       ...       ...           ...        ...     ...
2020-12-20     102.0     394.0  0.231567  23477.294922   0.031631       0
2020-12-21     132.0     338.0 -0.063800  22803.082031  -0.016445      -1
2020-12-22     114.0     362.0  0.000000  23783.029297  -0.028718      -1
2020-12-23     113.0     343.0  0.401900  23241.345703   0.042974       0
2020-12-24      92.0     283.0  0.238350  23735.949219  -0.022776      -1

[963 rows x 6 columns]

In [52]:
joined_df=joined_df.dropna()

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [54]:
lr = LogisticRegression()

In [55]:
y = joined_df['signal']
X = joined_df.drop(columns=['close','signal'])
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape
# Scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
lr.fit(X_train_scaled, y_train)

LogisticRegression()

In [56]:
# Make predictions using the test data
y_pred = lr.predict(X_test_scaled)

results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)

results.head()

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3          -1      -1
4          -1      -1

In [57]:
# Import Modules
from sklearn.metrics import confusion_matrix,classification_report

In [58]:
# Print confusion matrix
print(confusion_matrix(y_test, y_pred))

[[113   0   0]
 [  4 118   0]
 [  0   0   6]]

In [59]:
# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          -1       0.97      1.00      0.98       113
           0       1.00      0.97      0.98       122
           1       1.00      1.00      1.00         6

    accuracy                           0.98       241
   macro avg       0.99      0.99      0.99       241
weighted avg       0.98      0.98      0.98       241

In [ ]:
#get the current news and data from augmento
#run the data prep to get the X_test_scaled data so it can be tested